In [343]:
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np

In [344]:
file_names = [1,2,3]
tags = ['OPEN_DATE', 'RELATIONSHIP', 'FINAL_PMT_DATE', 
        'TYPE', 'PMT_STRING_84M', 'STATUS', 'OUTSTANDING', 'INF_CONFIRM_DATE', 
        'CREDIT_LIMIT', 'DELQ_BALANCE', 'IS_OWN', 'CREDIT_COST_RATE', 'UUID']
df = pd.DataFrame(columns=tags)
val_dict = {}


for name in file_names:
    file = open(str(name) + '.xml', 'r')
    xml_file = file.read()
    soup = BeautifulSoup(xml_file, 'xml')
    
    group_id = soup.find('GROUP_ID').text
    create_datetime = soup.find('CREATE_DATETIME').text
    
    test_nan = []
    
    for tag in tags:
        val_list = []
        
        for i in soup.findAll(tag):
            val_list.append(i.text)
        if test_nan == val_list:
            val_list.append(np.nan)
            
        val_dict[tag] = val_list
    
    val_dict['GROUP_ID'] = [group_id] * len(val_list)
    val_dict['DATE'] = [create_datetime] * len(val_list)
    
    new_df = pd.DataFrame(val_dict)
    df = df.append(new_df, ignore_index=True)
    file.close
    
df.loc[:, 'DATE'] = df.DATE.apply(lambda x: str(x)[0:2]+'.'+str(x)[2:4]+'.'+str(x)[4:8])
df.head()

,OPEN_DATE,RELATIONSHIP,FINAL_PMT_DATE,TYPE,PMT_STRING_84M,STATUS,OUTSTANDING,INF_CONFIRM_DATE,CREDIT_LIMIT,DELQ_BALANCE,IS_OWN,CREDIT_COST_RATE,UUID,GROUP_ID,DATE
0,09122021,1,01012090,7,0,00,16353.00,20122021,20000.00,0.00,0,24.713,527e22e6-58cb-11ec-b217-5cf3fccaa11a-4,16896889,10.01.2022
1,12102020,1,18062021,7,111110000,13,0.00,18062021,116000.00,0.00,0,25.660,2036475a-0ca5-11eb-849b-239b97d42adc-2,16896889,10.01.2022
2,28102021,1,28102027,7,1X0,00,310908.00,15122021,300000.00,0.00,0,22.933,8995e506-37c5-11ec-a3c1-c0a879126db9-c,16896889,10.01.2022
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9617061,04.02.2021
4,30122020,1,30032023,9,11111111X,00,192417.00,02082021,246300.00,0.00,0,NaN,0e769ea2-4a80-11eb-ab50-f9dd422362a1-2,13616105,16.08.2021

In [345]:
df.to_excel('part_3.xlsx', sheet_name='Часть 3', index=False)